<br>
<label>Plano de pagamento</label>
<select>
	<option>Selecione</option>
</select>
<br>
<label>Data de início</label>
<input type="date" name="" placeholder="Informe a data de início">
<br>
<label>Dia de vencimento</label>
<input type="text" name="" maxlength="2" placeholder="Informe o dia de vencimento">
<br>
<label>Tipo de desconto</label>
<select>
	<option>Selecione</option>
</select>
<br>
<label>Valor do desconto</label>
<input type="" name="" placeholder="Informe o valor do desconto">
<br>
<label>Valor final</label>
<input type="" name="" disabled>
<br>